@charset "UTF-8";
.general {
  display: flex;
  background-color: #121212;
  color: #eee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.curso-unidades {
  max-width: 800px;
  margin-left: 20%;
  margin-top: 8%;
  text-align: justify;
}

.header-global {
  background-color: #282C34;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}
.header-global .logo {
  width: 130px;
  height: auto;
}

.lateral-global {
  background-color: #282C34;
  height: calc(100vh - 60px);
  width: 3%;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 998;
  padding: 10px;
}
.lateral-global ul {
  list-style: none;
}
.lateral-global ul li {
  margin-bottom: 20px;
}
.lateral-global ul li img {
  width: 20px;
  height: auto;
  margin-left: 6px;
}
.lateral-global ul li:hover {
  color: #ab80d7;
}

body {
  background-color: #1E1E1E;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

#contenedorPrincipal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  width: 100%;
  min-height: 100vh;
}
#contenedorPrincipal .logo {
  height: 70px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
}
#contenedorPrincipal .formulario {
  grid-row: 2/3;
  grid-column: 2/3;
  border: 1px solid #ffffff;
  border-radius: 15px;
  background-color: #464646;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#contenedorPrincipal .formulario .olvido {
  background-color: #464646;
}
#contenedorPrincipal .formulario .input-field {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}
#contenedorPrincipal .formulario .input-field .violeta {
  color: #C08FF7;
}
#contenedorPrincipal .formulario .input-field label {
  top: -20px; /* Ajusta la posición del label */
  font-size: 1.5rem;
  color: #ffffff;
}
#contenedorPrincipal .formulario .input-field input {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#contenedorPrincipal .formulario .input-field input:focus {
  border-bottom: 1px solid #C08FF7;
  box-shadow: 0 1px 0 0 #C08FF7;
}
#contenedorPrincipal .formulario .btn, #contenedorPrincipal .formulario .btn-invitado {
  background-color: #C08FF7;
  color: #ffffff;
  margin-top: 10px;
}
#contenedorPrincipal .formulario .btn:hover, #contenedorPrincipal .formulario .btn-invitado:hover {
  background-color: #a55ff4;
}
#contenedorPrincipal .formulario .btn-invitado {
  background-color: rgb(82, 82, 158);
  color: #ffffff;
}
#contenedorPrincipal .formulario .btn-invitado:hover {
  background-color: #41417c;
}
#contenedorPrincipal .formulario .olvido {
  text-decoration: underline;
  text-align: left;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 20px;
  padding-left: 5px;
}

@media (max-width: 600px) {
  #contenedorPrincipal {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #contenedorPrincipal .formulario {
    grid-row: 1/3;
    grid-column: 1/3;
  }
  #contenedorPrincipal .titulo {
    font-size: 30px;
  }
  #contenedorPrincipal .titulo .violeta {
    font-size: 32px;
  }
}
.header {
  background-color: #121212;
  padding: 10px;
  position: fixed;
  top: 60px;
  left: 3%;
  width: 100%;
  z-index: 999;
  height: 50px;
  float: left;
  border-bottom: solid 2px #ab80d7;
  margin: 0;
}
.header .hamb {
  height: auto;
  position: absolute;
  font-size: 22pt;
  top: -60%;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #eee;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

.lateral {
  width: 200px;
  background-color: #464646;
  height: calc(100vh - 60px);
  position: fixed;
  top: 110px;
  left: 3%;
  z-index: 998;
  padding: 20px;
  font-size: 14pt;
}
.lateral ul {
  list-style: none;
}
.lateral ul li {
  padding: 10px;
  cursor: pointer;
}
.lateral ul li a {
  color: white;
}
.lateral ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}
.lateral ul li.seleccionada {
  border-left: solid 3px #ab80d7;
}

.curso {
  max-width: 800px;
  margin-left: 20%;
  margin-top: 4%;
  text-align: justify;
}
.curso .jspc {
  width: 400px;
  height: auto;
  position: fixed;
  left: 70%;
  top: 40%;
}
.curso .intro {
  display: flex;
  align-items: center;
  gap: 10px;
}
.curso .intro img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}
.curso .intro h2 {
  font-size: 24px;
}
.curso h3 {
  margin-top: 20px;
  color: #ab80d7;
}
.curso ul, .curso ol {
  margin: 10px 0;
  padding-left: 20px;
}
.curso ul li, .curso ol li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .lateral {
    display: none;
  }
  .barra-lateral {
    display: none;
  }
  .menu-btn {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .curso {
    text-align: center;
    padding: 10px;
  }
  .curso .intro {
    flex-direction: column;
    text-align: center;
  }
  .jspc {
    z-index: -1;
    display: hidden;
  }
}
.unidades, .ejercicios {
  background-color: #464646;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin: 30px;
  margin-left: 300px;
  margin-top: 18%;
}
.unidades h2, .ejercicios h2 {
  color: #ab80d7;
  font-family: Arial, sans-serif;
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 2px solid #ab80d7;
}
.unidades ul, .ejercicios ul {
  list-style: none;
  padding: 0;
}
.unidades ul li, .ejercicios ul li {
  padding: 8px;
  border-bottom: 1px solid #ab80d7;
  color: #eee;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  transition: background 0.3s ease;
}
.unidades ul li:last-child, .ejercicios ul li:last-child {
  border-bottom: none;
}
.unidades ul li:hover, .ejercicios ul li:hover {
  background: #606060;
  cursor: pointer;
}

.video {
  margin-left: 50%;
}

.foro {
  position: fixed;
  top: 14%;
  left: 20%;
}

.debates {
  background-color: #464646;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin: 30px;
  margin-left: 300px;
}
.debates h2 {
  color: #ab80d7;
  font-family: Arial, sans-serif;
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 2px solid #ab80d7;
}
.debates ul {
  list-style: none;
  padding: 0;
}
.debates ul li {
  padding: 8px;
  border-bottom: 1px solid #ab80d7;
  color: #eee;
  font-family: Arial, sans-serif;
  transition: background 0.3s ease;
  font-size: 14pt;
}
.debates ul li:last-child {
  border-bottom: none;
}
.debates ul li:hover {
  background: #606060;
  cursor: pointer;
}

.foro-discusion {
  margin: 20px auto;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 2px dashed #464646;
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 300px;
}
.foro-discusion__vacio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foro-discusion__vacio img {
  max-width: 80px;
  margin-bottom: 10px;
}
.foro-discusion__vacio p {
  color: #eee;
  font-size: 1em;
}
.foro-discusion .nuevo {
  color: #ab80d7;
  font-weight: bold;
  text-decoration: underline;
}

.foro-cuenta-regresiva {
  position: fixed;
  left: 35%;
  top: 76%;
}
.foro-cuenta-regresiva iframe {
  position: fixed;
  right: 36%;
}

#asignaturasMaterialize #lateral {
  height: 320px;
}
#asignaturasMaterialize #lateral ul {
  line-height: 3.5;
}
#asignaturasMaterialize #lateral ul i {
  width: 20px;
}
#asignaturasMaterialize nav .logo .logoImagen {
  height: 60px !important;
  padding: 5px !important;
}
#asignaturasMaterialize h5 {
  margin-left: 2%;
}
#asignaturasMaterialize #fila-fotos {
  height: 225px !important;
}
#asignaturasMaterialize #fila-fotos #idLogo5, #asignaturasMaterialize #fila-fotos #idLogo6 {
  display: none;
}
#asignaturasMaterialize #fila-fotos .iframe-logo {
  height: 100%;
}
#asignaturasMaterialize #fila-fotos .iframe-logo .card-content {
  padding: 0 !important;
  height: 100%;
  overflow: inherit;
}
#asignaturasMaterialize #fila-fotos .iframe-logo iframe {
  width: 100% !important;
  height: 100% !important;
  border-radius: 12px;
}
#asignaturasMaterialize #idListaAsignaturas, #asignaturasMaterialize #divider {
  margin-top: -20px;
}
#asignaturasMaterialize .divider {
  background-color: #ab80d7;
  height: 2px;
}
#asignaturasMaterialize #barra-lateral-inferior {
  height: 300px !important;
}
#asignaturasMaterialize .logo-peque {
  width: 45px;
  height: 45px;
  overflow: hidden;
}
#asignaturasMaterialize .div-lista {
  -moz-column-gap: 25px !important;
       column-gap: 25px !important;
}
@media (max-width: 750px) {
  #asignaturasMaterialize #brillo {
    display: none;
  }
  #asignaturasMaterialize .asignaturas-barra-lateral {
    display: none;
  }
  #asignaturasMaterialize #idLogo1, #asignaturasMaterialize #idLogo2 {
    display: none;
  }
  #asignaturasMaterialize #idLogo5, #asignaturasMaterialize #idLogo6 {
    display: block !important;
    border: 1px solid white;
  }
}

#jsMaterialize #lateral {
  height: 720px;
}
#jsMaterialize #lateral ul {
  line-height: 3.5;
}
#jsMaterialize #lateral ul i {
  width: 20px;
}
#jsMaterialize nav .logo .logoImagen {
  height: 60px !important;
  padding: 5px !important;
}
#jsMaterialize h5 {
  margin-left: 2%;
}
#jsMaterialize #lateral-gris {
  height: 700px;
}
#jsMaterialize blockquote {
  border-left: 5px solid #ba68c8 !important; /* Morado  */
}
@media (max-width: 750px) {
  #jsMaterialize #lateral, #jsMaterialize #lateral-gris {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */