$fondo: #1E1E1E;
$menu: #282C34;

@import 'scss/_login.scss';
@import 'scss/_asignaturas.scss';
@import 'scss/_variables.scss';
@import 'scss/_general.scss';
@import 'scss/_header.scss';
@import 'scss/_lateral.scss';
@import 'scss/_contenido.scss';
@import 'scss/_header-global.scss';
@import 'scss/_lateral-global.scss';
@import 'scss/_unidades.scss';
@import 'scss/_foro.scss';
