
body>*{
    //border: 1px solid white;
    color: white;
}

.barra-menu{display: none;}
hr {border-color: #C678DD;}

#idPagAsignaturas {
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 100px 300px 150px 300px;
}

.encabezado, .barra-lateral, #lista {background-color: $menu;}

.encabezado {
    grid-row: 1;
    grid-column: 2;
    align-items: center;
    display: flex;
    position: relative;
    #logos-pequeños {
        position: absolute;
        right: 25px;
        top: 5px;
        color: #b2b2b2;
    }
}

.barra-lateral {
    grid-template-columns: 1;
    grid-row: 1/6;
    #barra-logos {
        margin-top: 60px;
        color: #C678DD;
        div {
            margin-top: 20px;
        }
    }
}

#idImag {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1% 48.75% 0.5% 48.75% 1%;
    grid-template-rows: 45px 245px 10px;
    p {
        grid-column: 2;
    }
    #logo1-pequeño, #logo2-pequeño {
        display: none;
    }
    #logo1, #logo1-pequeño {
        grid-column: 2;
        grid-row: 2;
        border-radius: 15px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    #logo2, #logo2-pequeño {
        grid-column: 4;
        grid-row: 2;
        border-radius: 15px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

#lista {
    grid-row: 3;
    p {
        margin-left: 10px;
        line-height: 0.2;
    }
    .tit-asignatura {font-size: 90%;}
    .parr-gris {font-size: 70%;}
    .listado {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #logo3 {
        width: 35px;
        height: 35px;
        overflow: hidden;
    }
    #logo4 {
        width: 35px;
        height: 35px;
        overflow: hidden;
    }
}

@media (max-width:427px) {
    #idPagAsignaturas {
        grid-template-columns: 100%;
        grid-template-rows: 100px 400px 150px 300px;
    }
    .encabezado {
        grid-row: 1;
        grid-column: 1;
        .barra-menu{display: contents;}
    }

    .barra-lateral {
        display: none;
    }

    #idImag {
        grid-row: 2;
        grid-template-columns: 1% 48.75% 0.5% 48.75% 1%;
        grid-template-rows: 45px auto 10px;

        p {
            grid-column: 2;
        }
        #logo1, #logo2 {
            display: none;
        }

        #logo1-pequeño, #logo2-pequeño {
            display: block;
            border: 1px solid white;
        }
    }

    #lista {
        grid-row: 3;
    }
    
}
