/* Fondo global de la página */
.bodyJS {
    background-color: #161616;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Ajuste para evitar margen izquierdo en el contenido */
.row {
    margin: 0; /* Evita el margen lateral */
}

/* Contenido principal */
.contenido {
    padding: 20px;
}
