.curso {
    max-width: $max-width;
    margin-left: 20%;
    margin-top: 4%;
    text-align: justify;


    .jspc{

        width: 400px; 
        height: auto;
        position:fixed;
        left: 70%;
        top:40%;
        

    }

    .intro {
        display: flex;
        align-items: center;
        gap: 10px;

        img {

            width: 500px;
            height: auto;
            border-radius: 10px;

        }

        h2 {
            font-size: 24px;
        }
    }

    h3 {
        margin-top: 20px;
        color: $color-principal;
    }

    ul, ol {
        margin: 10px 0;
        padding-left: 20px;
        
        li {
            margin-bottom: 10px;
        }
    }
    
}

@media (max-width: 768px) {
    .lateral {
        display: none;
    }

    .barra-lateral {
        display: none;
    }

    .menu-btn {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .curso {
        text-align: center;
        padding: 10px;
    }

    .curso .intro {
        flex-direction: column;
        text-align: center;

        
    }
    .jspc{
        z-index: -1;
        display: hidden;
    }
}

.bodyJS {
    background-color: $fondo-negro;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}


.rowjs {
    margin: 0; 
}

.contenido {
    padding: 20px;
}
