.curso {
    max-width: $max-width;
    margin-left: 20%;
    margin-top: 4%;
    text-align: justify;


    .jspc{

        width: 400px; 
        height: auto;
        position:fixed;
        left: 70%;
        top:40%;
        

    }

    .intro {
        display: flex;
        align-items: center;
        gap: 10px;

        img {

            width: 500px;
            height: auto;
            border-radius: 10px;

        }

        h2 {
            font-size: 24px;
        }
    }

    h3 {
        margin-top: 20px;
        color: $color-principal;
    }

    ul, ol {
        margin: 10px 0;
        padding-left: 20px;
        
        li {
            margin-bottom: 10px;
        }
    }
    
}

// Responsive
@media (max-width: 768px) {
    .lateral-global, .lateral {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .main-content {
    margin-left: calc(3% + #{$barra-width}); // Ajusta el margen izquierdo para no superponerse con los menús
    margin-top: 60px; // Ajusta el margen superior para no superponerse con el header-global
    padding: 20px;
    width: calc(100% - 3% - #{$barra-width}); // Ajusta el ancho para no superponerse con los menús
}
}
