.bodyJS {
    background-color: $fondo-negro;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: justify;
}


.rowjs {
    margin: 0; 
}


.jspng {
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; 
}


.contenido h4 {
    color: $color-principal;
    margin-bottom: 20px; 
}

.contenido h5 {
    color: $color-principal;
    margin-top: 20px; 
}

.contenido ul {
    padding-left: 20px; 
}

.contenido ul li {
    margin-bottom: 10px;
    font-size: 17px;
    
}

.contenido p {
    font-size: 18px;
    line-height: 1.6; 
    text-align: justify;
}

.jspc{

    margin-top: 50%; transform: translateY(-50%);
    max-width: 100%; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.js{

    width: 500px;
    margin-bottom: 0;
}