
.collapsible-body-nube {
  background-color: #737272;
  padding: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}



.card.transparent.striped-border.tarjeta-nube {
  background-color: transparent !important; 
  border: 2px dashed white;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  text-align: justify;

  .nube {
      max-width: 150px;
      margin-bottom: 15px; 
  }

  p {
      color: $text-claro;
      margin: 10px 0; 
  }

  .fuerte {
      font-weight: bold;
      color: $color-principal;
      text-decoration: underline;
  }
}
