/* Estilos para el header global */
.header-global {
    background-color: #282C34;
    padding: 10px 20px;
    
    img {
        width: 120px;
        height: auto;
    }
}

.header-icons {
    a {
        color: white;
        font-size: 24px;
        text-decoration: none;

        &:hover {
            color: #ba68c8;
        }
    }
}