.header-global {
    background-color: #282C34;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    .logo {
        width: 130px;
        height: auto;
    }
}
.header-global {
    background-color: #282C34;
    padding: 10px 20px;
    
    img {
        width: 120px;
        height: auto;
    }
}

.header-icons {
    a {
        color: white;
        font-size: 24px;
        text-decoration: none;

        &:hover {
            color: $color-principal;
        }
    }
}