    .header {
        background-color: $fondo-negro;
        padding: 10px;
        position: fixed;
        top: 60px;
        left: 3%;
        width: 100%;
        z-index: 999;
        height: 50px;
        float: left;
        border-bottom: solid 2px $color-principal ;
        margin: 0;
    
        .hamb{
            height: auto;
            position: absolute;
            font-size: 22pt;
            top: -60%;
        }

    }

        .menu-btn {
            background: none;
            border: none;
            font-size: 24px;
            color: $text-claro;
            margin-right: 10px;
            cursor: pointer;
            display: none;
    }


