#login-page {
    background-color: #1E1E1E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: #464646;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

#submit-btn {
    a {
        color: white;
    }
    background-color: #C08FF7;
}

#guest-btn {
    color: white;
    background-color: rgb(82, 82, 158);
}

#submit-btn.waves-effect.waves-light {
    color: white;
}
