body {
    background-color: #1E1E1E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #464646;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}
.btn-custom {
    a{
        color: white;

    }
    background-color: #C08FF7;

}
.btn-invitado {
    color: white;

    background-color: rgb(82, 82, 158);
}
.btn btn-custom waves-effect waves-light{
    color: white;
}
