


.collapsible-header {
    background-color: $color-secondario;
    color: $text-claro;
    font-size: 1.2em;
    padding: 15px; 
    display: flex;
    align-items: center;

    i.material-icons {
        margin-right: 10px; 
    }
}


.collapsible-body {
    background-color: #737272; 
    padding: 15px; 
    ul {
        list-style-type: none; 
        padding: 0;
        margin: 0;

        li {
            padding: 10px 0; 
            font-size: 1.1em; 
            color: $text-claro; 
            border-bottom: 1px solid $color-principal;

            &:last-child {
                border-bottom: none; 
            }
        }
    }
}


.collapsible-header:hover {
    background-color: darken($color-principal, 10%);
}

.collapsible.popout {
    border: none;
    box-shadow: none;

    li {
        margin: 0;
    }
}