
.collapsible{

    border: none; 
}

.collapsible-header {
    background-color: $color-secondario;
    color: $text-claro;
    font-size: 1.2em;
    padding: 15px;
    display: flex;
    align-items: center;
    border: none; 

    i.material-icons {
        margin-right: 10px;
    }
}


.collapsible-body {
    background-color: #737272;
    padding: 15px;
    border: none;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding: 10px 0;
            font-size: 1.1em;
            color: $text-claro;
            border-bottom: 1px solid $color-principal;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}


.collapsible-header:hover {
    background-color: darken($color-principal, 10%);
}


.collapsible.expandable {
    border: none;
    box-shadow: none;
    width: 100%;

    li {
        margin: 0;
    }
}