// Colores
$color-principal: #ab80d7;
$color-secondario: #464646;
$text-claro: #eee;
$fondo-negro: #121212;

// Layout
$barra-width: 200px;
$max-width: 800px;

// Tipografía
$font-stack: Arial, sans-serif;
